{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content|raw }}

	
	<div class="wrapper">
	<div class="grid test">
		<div class="grid-span-full">
			<h1>This is a h1 heading tag. Lorem, ipsum dolor, sit amet consectetur adipisicing elit.</h1>
			<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Fuga eligendi provident unde modi iusto ullam sequi laudantium ratione aspernatur sed fugit aperiam, ipsa voluptate itaque doloremque eaque quo veniam a.Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel illum dicta distinctio minus quia, laboriosam! Modi quas quos sunt voluptatibus ratione officia est, in minus quae architecto, nisi voluptate?</p>
			<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Fuga eligendi provident unde modi iusto ullam sequi laudantium ratione aspernatur sed fugit aperiam, ipsa voluptate itaque doloremque eaque quo veniam a.Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel illum dicta distinctio minus quia, laboriosam! Modi quas quos sunt voluptatibus ratione officia est, in minus quae architecto, nisi voluptate?</p>
			<h2>This is a h2 heading tag. Lorem, ipsum dolor, sit amet consectetur adipisicing elit.</h2>
			<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel illum dicta distinctio minus quia, laboriosam! Modi quas quos sunt voluptatibus ratione officia est, in minus quae architecto, nisi voluptate?</p>
			<h3>This is a h3 heading tag. Lorem, ipsum dolor, sit amet consectetur adipisicing elit.</h3>
			<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel illum dicta distinctio minus quia, laboriosam! Modi quas quos sunt voluptatibus ratione officia est, in minus quae architecto, nisi voluptate?</p>
			<h4>This is a h4 heading tag. Lorem, ipsum dolor, sit amet consectetur adipisicing elit.</h4>
			<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vel illum dicta distinctio minus quia, laboriosam! Modi quas quos sunt voluptatibus ratione officia est, in minus quae architecto, nisi voluptate?</p>
			<div>Grid Item</div>
			<h1>This is a h1 heading tag</h1>
			<h2>This is a h2 heading tag</h2>
			<h3>This is a h3 heading tag</h3>
			<h4>This is a h4 heading tag</h4>
			
		</div>
		
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>
		<div>Grid Item</div>

	</div>
	</div>
	</div>
{% endblock %}
